/* Copy of https://codemirror.net/addon/scroll/simplescrollbars.css */
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  position: absolute;
  background: #555652;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 3px;
  transition: background 0.2s ease;
}

.CodeMirror-simplescroll-horizontal:hover div, .CodeMirror-simplescroll-vertical:hover div {
  background: #60615c;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
  background: #383934;
}

.CodeMirror-simplescroll-horizontal {
  bottom: 0; left: 0;
  height: 10px;
}
.CodeMirror-simplescroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-simplescroll-vertical {
  right: 0; top: 0;
  width: 10px;
}
.CodeMirror-simplescroll-vertical div {
  right: 0;
  width: 100%;
}
