.ccode-container,
.CodeMirror
{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #171814;
  display: grid;
  grid-template-columns: 10px minmax(0, 1fr) 10px minmax(0, 1fr);
  grid-template-rows: 1fr 10px 1fr;
  grid-template-areas: 
    "status ccode . ."
    "status ccode . ."
    "status ccode . output";
  font-family: 'Fira Code', monospace;
}

.ccode-container {
  grid-area: ccode;
}
.ccode-container .CodeMirror {
  padding-top: 10px;
}
.output {
  grid-area: output;
}
.output .CodeMirror {
  padding: 10px;
}
.status {
  grid-area: status;
  --color-red: #FF4136;
  --color-orange: #FF851B;
  --color-green: #2ECC40;
  background-color: var(--color-orange);
  transition: background 0.3s ease;
}
.green {
  background-color: var(--color-green);
}
.red {
  background-color: var(--color-red);
}
.green.red {
  background-color: var(--color-orange);
}
.CodeMirror {
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  height: 100%;
}

.CodeMirror-matchingbracket {
  border-bottom: 1px solid #888;
  text-decoration: none !important;
}